/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700;800;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Cairo', sans-serif;
    background: url(/images/background.png) center center/cover no-repeat fixed;
}

.title {
    max-width: 1170px;
    margin: 10px auto 0;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.player {
    background: linear-gradient(to right, black, #434343);
    position: sticky;
    top: 0;
    padding: 20px;
    margin: 10px 0;
    border-radius: 7px;
    z-index: 100;
}

.player .title {
    padding: 10px 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.player audio {
    width: 100%;
    height: 40px;
    margin: 15px 0;
}

.player .buttons {
    display: flex;
    justify-content: space-around;
}

.buttons .icon{
    color: gray;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    display: grid;
    place-items: center;
    font-size: 25px;
    cursor: pointer;
}

.surahs {
    z-index: 0;
    height: calc(100vh - 270px);
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.surahs::-webkit-scrollbar {
    display: none;
}

.surahs > div {
    color: #23162f;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    float: right;
    direction: rtl;
    width: calc(100% - 90px);
    transition: .3s color ease;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
    counter-increment: surah-counter;
}

.surahs > div .ar {
    color: brown;
}

.surahs > div::after {
    content: counter(surah-counter);
    position: absolute;
    height: 80px;
    width: 80px;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 25px;
    line-height: 80px;
    text-align: center;
    background-color: inherit;
    transition: inherit;
    box-shadow: inherit;
}

.surahs > div::before {
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-right-color: #23162f;
    top: 50%;
    transform: translateY(-50%);
    left: -14px;
}

.surahs > div:hover,
.surahs > div:hover::after {
    background: linear-gradient(to bottom, #434343, black);
    color: white;
}